<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ClientWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>svlAlta</servlet-name>
    <servlet-class>servlets.svlAlta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>svlIndex</servlet-name>
    <servlet-class>servlets.svlIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svlAlta</servlet-name>
    <url-pattern>/sAlta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>svlIndex</servlet-name>
    <url-pattern>/sIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jAlta2</display-name>
    <servlet-name>jAlta2</servlet-name>
    <jsp-file>/alta2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jAlta2</servlet-name>
    <url-pattern>/alta2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jAlta1</display-name>
    <servlet-name>jAlta1</servlet-name>
    <jsp-file>/alta1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jAlta1</servlet-name>
    <url-pattern>/alta1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jCerca</display-name>
    <servlet-name>jCerca</servlet-name>
    <jsp-file>/cerca.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jCerca</servlet-name>
    <url-pattern>/cerca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jResultatsCerca</display-name>
    <servlet-name>jResultatsCerca</servlet-name>
    <jsp-file>/resultatsCerca.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jResultatsCerca</servlet-name>
    <url-pattern>/resultat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>infoLocal</display-name>
    <servlet-name>infoLocal</servlet-name>
    <jsp-file>/infoLocal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoLocal</servlet-name>
    <url-pattern>/infoLocal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchLog</display-name>
    <servlet-name>searchLog</servlet-name>
    <jsp-file>/searchLog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchLog</servlet-name>
    <url-pattern>/searchLog</url-pattern>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>infoLog</display-name>
    <servlet-name>infoLog</servlet-name>
    <jsp-file>/infoLog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoLog</servlet-name>
    <url-pattern>/infoLog</url-pattern>
    <url-pattern>/resultatLog</url-pattern>
  </servlet-mapping>
</web-app>